@import url("../styles/a5.css");

@page {
    counter-increment: page;
}

@page:left {
    @bottom-left {
         content: counter(page) " of " counter(pages);
         font-family: Arial, Sans Serif;
    }
}

@page:right {
    @bottom-right {
         content: counter(page) " of " counter(pages);
         font-family: Arial, Sans Serif;
    }
}

p {
    page-break-after: always;
}
