@page {
    size: A4;
    margin-top: 80mm;
    margin-bottom: 25mm;
    margin-left: 10mm;
    margin-right: 10mm;
    padding-top: 5mm;
    padding-bottom: 5mm;

    @top-left {
        content: element(header);
    }

    @bottom-left{
        content: element(footer);
    }

}

body {
    font-family: Sans-Serif;
    padding: 0;
    margin: 0;
}

#header {
    position: running(header);
    vertical-align: top;
    /* A4 width - 2 * margin = 21cm - 2 * 10 mm */
    width: 190mm;
    /* margin-top of @page */
    height: 80mm;
}

#header1 {
    width: 100%;
}

#header-address {
}

#header-qr {
    width: 80mm;
}

img.qr {
    width:30mm; 
}

#header-logo {
    width: 30mm;
}

img.logo {
    width: 100%;
}

#header2 {
    width: 100%;
    border-bottom: 3px solid orange;
}

#delivery1 {

}

#delivery2 {
    font-size: 9pt;
    vertical-align: bottom;
}

#delivery3 {
    font-size: 9pt;
    vertical-align: bottom;
}

#delivery3 .label {
    display: inline-block;
    width: 8em;
}


#footer {
    position: running(footer);
    vertical-align: top;
    padding-top: 3mm;
    /* A4 width - 2 * margin = 21cm - 2 * 10 mm */
    width: 190mm;
    /* margin-bottom of @page */
    height: 25mm;
    font-size: 7pt;
}

.footer-col {
    display: inline-block;
    /* (21 cm - 2 * margin) / 3 */
    vertical-align: top;
}

#footer-col1,
#footer-col2 {
    width: 53mm;
}

#footer-col3 {
    width: 80mm;
}

#customer1 {
    float: left;
    width: 90mm;
    vertical-align: top;
    font-weight: bold;
}

#customer2 {
    float: right; 
    width: 70mm;
    vertical-align: top;
    font-size: 9pt;
}

#customer2 .label {
    display: inline-block;
    width: 8em;
}