
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSans-Regular.ttf) format('truetype');
}

body {
    font-family: 'Noto Sans', sans-serif !important;
}

h1 {}

h3 {
    font-size: 1.2em;
}

table {
    margin-bottom: 2em !important;
}

img#logo {
    max-height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

caption {
    font-size: 1.6em;
    font-weight: bold;
    caption-side: top;
}

.readme {
    font-size: 0.8em;
    color: #888;
}

td.title {
    max-width: 50%;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: decimal !important;
}

.compliance,
#pdf-files,
#css-text,
#source-text {
    width: 100%;
}

.compliance th {
    vertical-align: top !important;
}

#body-wrapper {
    margin-top: 120px;

}

#disqus-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 2em;
    background: #eee;
}

img.one-pixel {
    display: none;
}

img.preview {
    border: 1px solid #666;
}

#about-table td {
    width: 25%;
}

#projects-table td {
    width: 20%;
}


#projects-table td img {
    width: 80%;
    text-align: left;
}

tt.literal,
span.pre {
    background: #ccc;

}

pre.literal-block,
pre.code {
    background: #e1e5ef;
    width: 100%;
    padding: 1em;
}

footer {
    background: #f8f9fa !important;
    font-size: 0.9em;
}


#footer-text {
    text-align: center;
}

section,
div.section {
    margin-top: 0;
    margin-bottom: 3em;
}

div.note {
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #ddd;
    padding: 1em;
    margin-bottom: 3em;
}

.alert {

    margin-bottom: 3em;
}

.admonition-title {
    font-size: 1.2em;
    font-weight: bold;
}

img.ajung {
    width: 200px;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em;
}

#sidebar .navigation-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    display: block;
}

#sidebar #navigation-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 1em;
}

#sidebar #navigation-items li {
    padding-bottom: 0.25em;
}

#sidebar #navigation-items li.level-1 {
    font-weight: bold;
}

#sidebar #navigation-items li.level-2 {
    margin-left: 2em !important;
}

#sidebar #navigation-items li.level-3 {
    margin-left: 4em !important;
}

a.nav-link.active {

    font-weight: bold;
}

cite {
    font-style: italic;
    background: #ddd;
}

@media only screen and (max-width: 800px) {
    #sidebar {
        display: none;
    }
}

#twitter {
    margin-top: 2em;
}

img.banner {
    margin-bottom: 2em;
    width: 100%;
    max-width: 100%;
}

.converter-status {
    text-align: center;
}

/*
.converter-status-OK {
}

.converter-status-OK:after {
    color: green;
    content: "\2713";
}

.converter-status-ERROR:after {
    color: red;
    content: "\1F6AB";
}

.converter-status-UNSUPPORTED:after {
    color: red;
    content: "\1F6AB";
}
*/

#spotlight {
    background: white !important;
}

.pane img {
    border: 2px dashed #aaa !important;
}

/* PrintCSS.live */

#consulting,
#printcsslive {
    margin-top: 2em;
}

#discord {
    margin-top: 2em;
}

#printcsstubelogo,
#printcsslivelogo {
    max-width: 200px;
}

/* Show cases */
.showcase-preview {
    width: 140px;
    border: 1px solid grey;
    margin-right: 10px;
}

.pdf-icon {
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.status-icon {
    width: 2em;
}

.icon-legend {
    margin-bottom: 2em;
}

.status-icon-small {
    width: 1.5em;
}

.status-text {
    margin-right: 1em;
}

#pdf-files th.status {
    width: 100px;
}

#pdf-files th.converter {
    width: 200px;
}

table.compliance th.center {
    text-align: center;
}

table.compliance th.converter {
    width: 8%;
}

table.compliance thead {
    position: sticky;
    top: 95px;
    background: #fff;
}

a {
    text-decoration: none;
}
