@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,300,700);

body {
    font-family: 'Noto Sans', sans-serif !important;
}

h1 {
}

table {
    margin-bottom: 2em !important;
}

img#banner {
    max-height: 80px;
    margin-right: 20px;
}

caption {
    font-size: 1.6em;
    font-weight: bold;
    caption-side: top;
}

.readme {
    font-size: 0.8em;
    color: #888;
}

td.title {
    max-width: 50%;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

.compliance,
#pdf-files,
#xcss-text,
#xsource-text {
    width: 75%;
}

#body-wrapper {
    margin-top: 120px;

}

#disqus-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 2em;
    background: #eee;
}

img.preview {
    border: 1px solid #666;
}

#about-table td,
#projects-table td {
    width: 25%;
}

#projects-table td img {
    width: 80%;
    text-align: left;
}

tt.literal,
span.pre {
    background: #ccc;

}

pre.literal-block,
pre.code {
    background: #ccc;
    width: 50%;
    padding: 1em;
}

footer {
    background: #f8f9fa !important;
    font-size: 0.9em;
}


#footer-text {
    text-align: center;
}

div.section {
    margin-top: 2em;
    margin-bottom: 2em;
}

div.note {
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #ddd;
    padding: 1em;
    margin-bottom: 3em;
}

.alert {

    margin-bottom: 3em;
}

.admonition-title {
    font-size: 1.2em;
    font-weight: bold;
}

img.ajung {
    width: 200px;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 2em;
}

img.banner {
    margin-top: 1em;
    margin-bottom: 2em;
}
