@import url("../styles/a4.css");
@page {
    margin-left: 6cm;
    margin-right: 6cm;
}

.anchor {
    font-weight: bold;
}

.annotation {
    font-size: 0.8em;
    font-weight: 100;
    width: 3cm;
    border: 1px solid blue;
    position: absolute;
}

.annotation.right {
    right: 0;
    margin-right: -5cm;
}

.annotation.left {
    left: 0;
    margin-left: -5cm;
}

.columns {
    column-count: 2;
}
