meta[name="author"] {
    string-set: author attr(content);
}

title {
    string-set: title content(text);
}

section {
    string-set: section attr(title);
    break-after: page;;
}

@page {
    size: A4;
    margin: 72px;

    @top-left {
        content: string(title);
        width: 33%;
        border: 1px solid blue;
    }
    @top-center {
        content: string(author);
        width: 33%;
        border: 1px solid blue;
    }
    @top-right {
        content: string(section);
        width: 33%;
        border: 1px solid blue;
    }
    @bottom-center {
        content: "- " counter(page) " -";
        width: 33%;
        border: 1px solid blue;
    }
}
