@import url("../styles/a5.css");

.outer {
    display: table;
    height: 10cm;
    margin: 0 auto;
    width: 10cm;
    break-after: page
}

img {
    max-width: 8cm;
}

.inner {
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
