@import url("../styles/a5.css");

@page {
    counter-reset: footnote 0;
}

@page {
    @footnote {
        border-top: dashed red 1px;
        float: bottom;
    }
}

span.footnote { 
    float: footnote; 
    counter-increment: footnote;
}

.footnote::footnote-call {
    content: counter(footnote, decimal) " ";
    color: green;
}

.footnote::footnote-marker {
    content: counter(footnote, lower-roman);
    font-size: 14pt;
    color: blue;
}
