@import url("../styles/a4.css");

#running {
    position: running(footer);
    text-align: justify;
    padding: 0;
    margin: 0;
    display: table;
    font-size: 4pt;
}

#running2 {
    position: running(footer2);
    text-align: justify;
    font-size: 6pt;
    color: blue;
    padding: 0;
    margin: 0;
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: bottom;
}

@page {
    border: 1px solid blue;

    size: a4;
    margin-bottom: 5cm;

    @bottom-left {
        width: 30%;
        content: element(footer);
        border: 3px solid blue;
        margin-bottom: 2cm;
        vertical-align: bottom;
    }
    @bottom-right {
        width: 30%;
        content: element(footer2);
        margin-bottom: 2cm;
        border: 3px solid blue;
        vertical-align: bottom;
    }

    @bottom-center {
        content: "the page is " counter(page);
        margin-bottom: 2cm;
        border: 3px solid blue;
        vertical-align: bottom;
        color: blue;
        font-size: 20pt;
    }

}
