@import url("../styles/a4.css");

#running {
    position: running(footer);
    font-size: 8pt;
    text-align: justify;
    padding: 0;
    margin: 0;
    height: 3cm;
    border-bottom: 5px solid blue;
    display: table;
}

#running2 {
    position: running(footer2);
    text-align: justify;
    font-size: 6pt;
    color: blue;
    padding: 0;
    margin: 0;
    height: 3cm;
    border-bottom: 5px solid blue;
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: bottom;
}

@page {
    border: 1px solid blue;

    size: a4;
    margin-bottom: 5cm;

    @bottom-left {
        width: 30%;
        content: element(footer);
        vertical-align: top;
    }
    @bottom-right {
        width: 30%;
        content: element(footer2);
        vertical-align: top;
    }

    @bottom-center {
        content: "the page is " counter(page);
        vertical-align: top;
        border-bottom: 5px solid blue;
        display: table-cell;
        vertical-align: bottom;
        margin-bottom: 2cm;
    }

}
