.page {
    page-break-after: always;
}

/* needed by Weasyprint ihttps://github.com/Kozea/WeasyPrint/issues/1062 */
div::before { 
    content: target-counter(url(#end), page);
    display: none;
}

@page {
    @bottom-center {
        font-size: 12pt;
        color: blue;
        content: "Page " counter(page) " of " target-counter(url("#end"), page);
    }
}            
