@import url("../styles/a4-landscape.css");

@page {
    margin: 0;
    padding: 0;
}

#block1 {
    font-size: 9pt;
    position: absolute;
    color: blue;
    border : 1px dashed red;
    padding: 1em;
    top: 2cm;
    left: 2cm;
    width: 8cm;
    height: 8cm;
}

#block2 {
    font-family: Courier;
    font-size: 9pt;
    position: absolute;
    color: green;
    border : 1px solid red;
    padding: 1em;
    right: 2cm;
    bottom: 2cm;
    width: 8cm;
    height: 8cm;
}
