@import url("../styles/a5.css");

.content {
   color: white; 
   background: blue;
   text-align: center;
   position: relative;
}

.w-25 { 
    width: 25%;
}

.w-50 { 
    width: 50%;
}

.w-75 { 
    width: 75%;
}

.w-100 { 
    width: 100%;
}

.h-25 { 
    height: 25%;
}

.h-50 { 
    height: 50%;
}

.h-75 { 
    height: 75%; 
}

.h-100 { 
    height: 100%;
}

.p-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.p-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.p-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.p-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.p-middle-left {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
}

.p-middle-right {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
}

.p-top-center {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.p-bottom-center {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}


.p-middle-center {
    position: absolute;
    margin: auto;
}


.page {
    page-break-after: always;
}

.outer {
    width: 100%;
    height: 100%;
    outline: 5px solid yellow;
    position: absolute;
}

.floatable-next-page {
    outline: 1px solid green;
}

.rotate-left {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.rotate-right {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
