@import url("../styles/a5.css");

@font-face {
    font-family: MyFont;
    src: url(DejaVuSans.ttf);
}

@page {
    size: a4 landscape;
}


#block {
    direction: rtl;
    list-style-type: none;
    font-family: MyFont;
}

#block-ltr {
    list-style-type: none;
    font-family: MyFont;
}

li::before {
    content: attr(vnumber);
    padding-left: 1em;
}
