@import url("../styles/a5.css");

p {
    text-align: justify;
    font-size: 16pt;
}

p.hyphenate {
    hyphens: auto;
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}


h1 {
    page-break-before: always;
}

