@import url("../styles/a4.css");

p {
    font-size: 12pt;
}

#cmyk {
    border: 10px solid cmyk(100%, 0%, 0%, 0%);
    background: cmyk(100%, 36%, 0%, 0%);
    color: cmyk(0%, 9%, 7%, 30%);
    padding: 1em;
}
