@page {
    size: a4;
    margin: 2cm;
}

form, form input { 
    -ro-pdf-format: pdf; 
}

fieldset {
    border: 2px solid pink;
    padding: 1em;
}

legend {
    font-weight: bold;
    font-height: 1.2em;
}

input[type="text"] {
    width: 40%;
}

div.row {
    margin-bottom: 1em;
}
