@page {
    size: a4;
    margin: 2cm;
}

body {
    font-family: Arial, sans-serif;
}

form, form input, textarea, select{ 
    -ro-pdf-format: pdf; 
}

fieldset {
    border: 2px solid pink;
    padding: 1em;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

select {
    width: 20em;
}

input[type="text"] {
    width: 50%;
}

div.row {
    margin-bottom: 1em;
}
