<!doctype html>
<html lang="en">
    <head>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <meta charset="utf-8">
        <meta name="language" content="en">
        <meta name="keywords" content="PDF,PrintCSS,CSS Paged Media, ZOPYX, CSS, HTML, XML, PDFreactor, PrinceXML,Antennahouse">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>print-css.rocks - PrintCSS CSS Paged Media tutorial and information</title>

        <meta name="description" content="PrintCSS/CSS Paged Media (PDF generation from XML and HTML using CSS stylesheets) tutorial and showcase with lessons, tool descriptions and comparions. PDFreactor Antennahouse PrinceXML"><meta name="keywords" content="CSS,PDF,HTML,XML, CSS Paged media, Antennahouse, PDFreactor, PrinceXML, Markup"></head>

        <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <link href="/static/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <script src="/static/jquery-latest.js"></script>
        <script src="/static/run_prettify.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.6.3/dist/spotlight.cdn.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>


        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a href="/">
                <img id="logo" src="/static/logo.png"/ alt="Print CSS Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-introduction" href="/">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-lessons" href="/lessons">Lessons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-tools" href="/tools">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-related" href="/related">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-showcases" href="/showcases">Showcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-blog" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-about" href="/about">About/Professional Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navigation-contributing" href="/contributing">Contributing</a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="container-fluid" id="body-wrapper">
            <div class="row">
                <div class="col-sm-3" id="sidebar">
                    <ul id="navigation-items">
                    </ul>

                    <div id="twitter">
                        You can also find us on Twitter
                        <br/>
                        <a href="https://twitter.com/printcssrocks">
                            <i class="fab fa-twitter"></i>&nbsp;@printcssrocks
                        </a>
                        <br7>
                        or <a href="https://www.facebook.com/groups/printcss">Facebook</a>
                    </div>


                    <div id="consulting">
                        PrintCSS consulting is available through
                        <a target="_blank" href="https://print-css.com">
                            print-css.com
                        </a>
                    </div>

                    <div id="printcsslive">
                        Try #PrintCSS live on 
                        <a target="_blank" href="https://printcss.live">
                            printcss.live
                            <br/>
                            <img id="printcsslivelogo" src="/static/printcss.live.png" alt="PrintCSS Live Logo"/>
                        </a>
                    </div>

                    <div id="printcsslive">
                        Find #PrintCSS videos on 
                        <a target="_blank" href="https://printcss.tube">
                            printcss.tube
                            <br/>
                            <img id="printcsstubelogo" src="/static/printcsstube.png" alt="PrintCSS Tube Logo"/>
                        </a>
                    </div>

                    <div id="discord">
                        <img src="/static/discord.png" style="width: 32px">
                        <a href="https://discord.gg/sAHAQdh" alt="Discord Logo" >
                        Join the PrintCSS community on Discord
                        </a>
                    </div>
                </div>
                <div class="col-sm-9" id="main">
                    {% block body  %}
                    {% endblock %}
                </div>
            </div>

        </div>


        <footer>
            <hr/>
            <div id="footer-text">
                print-css.rocks is &copy; 2021 by <a href="https://www.zopyx.com">Andreas Jung, ZOPYX</a>
                <br/> 
                All rights reserved
                <br/>
                 <a href="https://www.zopyx.com/imprint.html">Imprint</a> | 
                 <a href="https://www.zopyx.com/privacy.html">Privacy statement</a> 
            </div>
        </footer>

        <script src="/static/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="/static/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="/static/local.js"></script>
        <script type="text/javascript">NAVIGATION = "{{navigation}}"</script>

<!-- Matomo -->
	<script type="text/javascript">
	  var _paq = window._paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(["setCookieDomain", "*.print-css.rocks"]);
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="https://matomo.zopyx.com/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '1']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Matomo Code -->
    </body>
</html>

