<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="en">
        <meta name="keywords" content="PDF,PrintCSS,CSS Paged Media,ZOPYX,CSS,HTML,XML,PDFreactor,PrinceXML,Antennahouse">
        <meta name="description" content="PrintCSS/CSS Paged Media (PDF generation from XML and HTML using CSS stylesheets) tutorial and showcase with lessons, tool descriptions and comparisons. PDFreactor Antennahouse PrinceXML">
        
        <title>print-css.rocks - PrintCSS CSS Paged Media tutorial and information</title>
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/fontawesome-free-5.14.0-web/css/all.min.css">
        <link rel="stylesheet" href="/static/iframemanager.css">
        <link rel="stylesheet" href="/static/styles.css">

        <!-- Scripts loaded in head (critical) -->
        <script src="/static/jquery-latest.js" defer></script>
        <script src="/static/run_prettify.js" defer></script>
        <script src="/static/spotlight.bundle.js" defer></script>
    </head>
    <body class="d-flex flex-column min-vh-100">


        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="/static/logo.png" alt="Print CSS Logo" width="140" height="40" class="d-inline-block align-text-top">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-introduction" href="/" aria-current="page">Introduction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-lessons" href="/lessons">Lessons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-tools" href="/tools">Tools</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-related" href="/related">Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-showcases" href="/showcases">Showcase</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-blog" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-consulting" href="/consulting">Consulting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-about" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2" id="navigation-contributing" href="/contributing">Contributing</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="container py-5 mt-5 flex-grow-1">
            <div class="row g-4">
                <div class="col-lg-3" id="sidebar">
                    <div class="position-sticky" style="top: 5rem;">
                        <ul id="navigation-items" class="list-unstyled nav flex-column">
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9" id="main">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </main>


        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-lg-12">
                        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                            <div>
                                <span class="text-muted">print-css.rocks is &copy; 2024 by <a href="https://www.zopyx.com" class="text-decoration-none">Andreas Jung, ZOPYX</a></span>
                            </div>
                            <div>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="https://www.zopyx.com/imprint" class="text-decoration-none">Imprint</a>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <a href="https://www.zopyx.com/privacy" class="text-decoration-none">Privacy statement</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap Bundle with Popper -->
        <script src="/static/jquery.min.js" defer></script>
        <script src="/static/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" defer></script>
        <script src="/static/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" defer></script>
        
        <!-- Custom scripts -->
        <script src="/static/iframemanager.js" defer></script>
        <script src="/static/local.js" defer></script>
        <script>
            window.NAVIGATION = "{{navigation}}";
        </script>

        <!-- iFrame Manager Configuration -->
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const manager = iframemanager();

            manager.run({
                currLang: 'en',
                services: {
                    slideshare: {
                        embedUrl: 'https://www.slideshare.net/slideshow/embed_code/key/{data-id}',
                        iframe: {
                            frameborder: '0',
                            allowfullscreen: 'no',
                            scrolling: 'no',
                        },
                        cookie: {
                            name: 'cc_slideshare'
                        },
                        languages: {
                            en: {
                                notice: 'This content is hosted by a third party. By showing the external content you accept the <a rel="noreferrer" href="https://www.slideshare.net/terms" title="Terms and conditions" target="_blank">terms and conditions</a> of slideshare.net.',
                                loadBtn: 'Load slides',
                                loadAllBtn: "Don't ask again"
                            }
                        }
                    },                        
                    youtube: {
                        embedUrl: 'https://www.youtube-nocookie.com/embed/{data-id}',
                        thumbnailUrl: 'https://i3.ytimg.com/vi/{data-id}/hqdefault.jpg',
                        iframe: {
                            allow: 'accelerometer; encrypted-media; gyroscope; picture-in-picture; fullscreen;',
                        },
                        cookie: {
                            name: 'cc_youtube'
                        },
                        languages: {
                            en: {
                                notice: 'This content is hosted by a third party. By showing the external content you accept the <a rel="noreferrer" href="https://www.youtube.com/t/terms" title="Terms and conditions" target="_blank">terms and conditions</a> of youtube.com.',
                                loadBtn: 'Load video',
                                loadAllBtn: 'Don\'t ask again'
                            }
                        }
                    }
                }
            });
        });
</script>


        <!-- Userlike Chat Widget -->
        <script async src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/9a681c2af7d742bda75657339d424a3c7c8cb246ced347c7aaf692bea3e01011.js"></script> 

        <!-- Matomo Analytics -->
        <script>
            var _paq = window._paq || [];
            _paq.push(["setCookieDomain", "*.print-css.rocks"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.zopyx.com/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    </body>
</html>

