{% extends "base.html" %}
{% block body %}
    <h1>Lessons</h1>

    {% for category in compliance %}
        {% if compliance[category] %}
            <table class="table table-bordered compliance">
                <caption>
                    <h2 class="caption">{{ category.upper() }}</h2>
                </caption>
                <thead>
                    <tr>
                        <th>Lesson</th>
                        <th class="center">PDFreactor</th>
                        <th class="center">Prince</th>
                        <th class="center">Antenna&shy;house</th>
                        <th class="center">Weasy&shy;print</th>
                        <th class="center">PagedJS</th>
                        <th class="center">Typeset.sh</th>
                        <th class="center">Vivliostyle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in compliance[category] %}
                        <tr>
                            <td class="title">      
                                <h3>
                                    <a class="lesson-title" href="../lesson/{{ row['name'] }}">{{ row.title }}</a>
                                </h3>
                                {% if row['description'] %}
                                    <div class="readme"> {{ row['description'] | safe  }} </div>
                                {% endif %}
                            </td>

                            {% for c in ('PDFreactor', 'PrinceXML', 'Antennahouse', 'Weasyprint', 'PagedJS', 'Typeset.sh', 'Vivliostyle') %}
                                <td class="converter-status">
                                    {% if c in row['converters'] %}
                                        <span class="converter-status-{{ row['converters'][c]['status']}}">
                                            <img class="status-icon" 
                                                 src="/static/{{row['converters'][c]['status'].lower()}}.svg" 
                                                 alt="{{row['converters'][c]['status']}}"
                                                 title="Status: {{row['converters'][c]['status']}}"
                                            />
                                        </span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="icon-legend">
                <img class="status-icon-small" src="/static/ok.svg"> <span class="status-text">OK</span>
                <img class="status-icon-small" src="/static/(ok).svg"> <span class="status-text">OK with issues</span>
                <img class="status-icon-small" src="/static/error.svg"> <span class="status-text">Error</span>
                <img class="status-icon-small" src="/static/unsupported.svg"> <span class="status-text">Unsupported</span>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
