{% extends "base.html" %}
{% block body %}
    <h1>Lessons</h1>

    {% for category in compliance %}
        {% if compliance[category] %}
            <table class="table table-bordered compliance">
                <caption>
                    <h2 class="caption">{{ category.upper() }}</h2>
                </caption>
                <thead>
                    <tr>
                        <th>Lesson</th>
                        <th>PDFreactor</th>
                        <th>Prince</th>
                        <th>Antenna&shy;house</th>
                        <th>Weasy&shy;print</th>
                        <th>PagedJS</th>
                        <th>Typeset.sh</th>
                        <th>Vivliostyle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Lesson</th>
                        <th>PDFreactor</th>
                        <th>Prince</th>
                        <th>Antenna&shy;house</th>
                        <th>Weasy&shy;print</th>
                        <th>PagedJS</th>
                        <th>Typeset.sh</th>
                        <th>Vivliostyle</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for row in compliance[category] %}
                        <tr>
                            <td class="title">      
                                <h3>
                                    <a class="lesson-title" href="../lesson/{{ row['name'] }}">{{ row['name'].replace('lesson-', '')}}</a>
                                </h3>
                                {% if row['readme'] %}
                                    <div class="readme"> {{ row['readme'] | safe  }} </div>
                                {% endif %}
                            </td>

                            {% for c in ('PDFreactor', 'PrinceXML', 'Antennahouse', 'Weasyprint', 'PagedJS', 'Typeset.sh', 'Vivliostyle') %}
                                <td class="converter-status">
                                    {% if c in row['converters'] %}
                                        <span class="converter-status-{{ row['converters'][c]['status']}}">
                                            {{ row['converters'][c]['status'] }}
                                        </span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

{% endblock %}
