{% extends "base.html" %}
{% block body %}
        <h1>{{lesson.name.replace('lesson-', '')}}</h1>

        <div class="alert alert-info">{{lesson.readme_raw }}</div>

        <section>
            <h2>Repository files</h2>
            <ul>
                <a href="https://github.com/zopyx/print-css-rocks/tree/master/lessons/{{ lesson.name }}">
                        https://github.com/zopyx/print-css-rocks/tree/master/lessons/{{ lesson.name }}
                </a>
            </ul>
        </section>

        <section>
            <h2>PDF files</h2>

            <table class="table-bordered table-striped table" id="pdf-files">
                <thead>
                    <tr>
                        <th>Converter</th>
                        <th>Status</th>
                        <th>PDF Preview</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in lesson.pdfs %}
                        <tr>
                            <td>
                                <span class="converter-name">{{ entry.name }}</span>&nbsp;
                                <a title="Download PDF" class="pdf-download" href="{{request_url}}/download/{{ entry['pdf_file'] }}"><i class="far fa-file-pdf"></i></a>
                            </td>
                            <td class="converter-status">
                                <span class="converter-status">{{ entry.status }}</span>
                            </td>
                            <td  data-featherlight-gallery data-featherlight-filter="a">
                                {% for image in entry.images %} 
                                <a href="#" class="gallery-{{entry.name|lower}}" data-featherlight="{{request_url}}/download/images/{{ entry.name.lower() }}/{{ image }}" >
                                        <img class="preview" src="{{request_url}}/download/images/{{ entry.name.lower() }}/thumb-{{ image }}" />
                                    </a>
                                {% endfor %}
                                {% if entry.message %} 
                                    <div>
                                        {{ entry.message }}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            <div class="row">
                <div class="col-sm-12">
                    {% if lesson.mode == 'html' %}
                        <h2>HTML input</h2>
                    {% endif %}
                    {% if lesson.mode == 'xml' %}
                        <h2>XML input</h2>
                    {% endif %}
                    <pre id="source-text" class="prettyprint linenums language-html">{{lesson.source | e }}</pre>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-sm-12">
                    {% if lesson.has_css %}
                        <h2>Stylesheet</h2>
                        <pre id="css-text" class="prettyprint linenums language-css">{{lesson.css_text}}</pre>
                    {% endif %}
                </div>

            </div>
        </section>

{% endblock %}
