{% extends "base.html" %}
{% block body %}
    <h1>Lessons</h1>

    {% for category in compliance %}
        <h2>{{ category.upper() }}</h2>
        <table class="table table-bordered compliance">
            <caption>{{ category.upper() }}</caption>
            <thead>
                <tr>
                    <th>Lesson</th>
                    <th>PDFreactor</th>
                    <th>PrinceXML</th>
                    <th>Antennahouse</th>
                </tr>
            </thead>
            <tbody>
                {% for row in compliance[category] %}
                    <tr>
                        <td class="title">      
                            <h3>
                                <a class="lesson-title" href="../lesson/{{ row['name'] }}">{{ row['name']}}</a>
                            </h3>
                            {% if row['readme'] %}
                                <div class="readme"> {{ row['readme'] | e }} </div>
                            {% endif %}
                        </td>
                        <td class="converter-status">
                            {% if row['converters'].get('PDFreactor') %}
                                {{ row['converters']['PDFreactor']['status'] }}
                            {% endif %}
                        </td>
                        <td class="converter-status">
                            {% if row['converters'].get('PrinceXML') %}
                                {{ row['converters']['PrinceXML']['status'] }}
                            {% endif %}
                        </td>
                        <td class="converter-status">
                            {% if row['converters'].get('Antennahouse') %}
                                {{ row['converters']['Antennahouse']['status'] }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
