
.box {

    position: absolute;
    left: 7cm;
    top: 10cm;
    font-size: 120px;

}

#r-0 {transform: rotate(0deg)}
#r-1 {transform: rotate(1deg)}
#r-2 {transform: rotate(2deg)}
#r-3 {transform: rotate(3deg)}
#r-4 {transform: rotate(4deg)}
#r-5 {transform: rotate(5deg)}
#r-6 {transform: rotate(6deg)}
#r-7 {transform: rotate(8deg)}
#r-8 {transform: rotate(8deg)}
#r-9 {transform: rotate(9deg)}
#r-10 {transform: rotate(10deg)}
#r-11 {transform: rotate(11deg)}
#r-12 {transform: rotate(12deg)}
#r-13 {transform: rotate(13deg)}
#r-14 {transform: rotate(14deg)}
#r-15 {transform: rotate(15deg)}
#r-16 {transform: rotate(16deg)}
#r-17 {transform: rotate(17deg)}
#r-18 {transform: rotate(18deg)}
#r-19 {transform: rotate(19deg)}
#r-20 {transform: rotate(20deg)}
#r-21 {transform: rotate(21deg)}
#r-22 {transform: rotate(22deg)}
#r-23 {transform: rotate(23deg)}
#r-24 {transform: rotate(24deg)}
#r-25 {transform: rotate(25deg)}
#r-26 {transform: rotate(26deg)}
#r-27 {transform: rotate(27deg)}
#r-28 {transform: rotate(28deg)}
#r-29 {transform: rotate(29deg)}
#r-30 {transform: rotate(30deg)}
#r-31 {transform: rotate(31deg)}
#r-32 {transform: rotate(32deg)}
#r-33 {transform: rotate(33deg)}
#r-34 {transform: rotate(34deg)}
#r-35 {transform: rotate(35deg)}
#r-36 {transform: rotate(36deg)}
#r-37 {transform: rotate(37deg)}
#r-38 {transform: rotate(38deg)}
#r-39 {transform: rotate(39deg)}
#r-40 {transform: rotate(40deg)}
#r-41 {transform: rotate(41deg)}
#r-42 {transform: rotate(42deg)}
#r-43 {transform: rotate(43deg)}
#r-44 {transform: rotate(44deg)}
#r-45 {transform: rotate(45deg)}
#r-46 {transform: rotate(46deg)}
#r-47 {transform: rotate(47deg)}
#r-48 {transform: rotate(48deg)}
#r-49 {transform: rotate(49deg)}
#r-50 {transform: rotate(50deg)}
#r-51 {transform: rotate(51deg)}
#r-52 {transform: rotate(52deg)}
#r-53 {transform: rotate(53deg)}
#r-54 {transform: rotate(54deg)}
#r-55 {transform: rotate(55deg)}
#r-56 {transform: rotate(56deg)}
#r-57 {transform: rotate(57deg)}
#r-58 {transform: rotate(58deg)}
#r-59 {transform: rotate(59deg)}
#r-60 {transform: rotate(60deg)}
#r-61 {transform: rotate(61deg)}
#r-62 {transform: rotate(62deg)}
#r-63 {transform: rotate(63deg)}
#r-64 {transform: rotate(64deg)}
#r-65 {transform: rotate(65deg)}
#r-66 {transform: rotate(66deg)}
#r-67 {transform: rotate(67deg)}
#r-68 {transform: rotate(68deg)}
#r-69 {transform: rotate(69deg)}
#r-70 {transform: rotate(70deg)}
#r-71 {transform: rotate(71deg)}
#r-72 {transform: rotate(72deg)}
#r-73 {transform: rotate(73deg)}
#r-74 {transform: rotate(74deg)}
#r-75 {transform: rotate(75deg)}
#r-76 {transform: rotate(76deg)}
#r-77 {transform: rotate(77deg)}
#r-78 {transform: rotate(78deg)}
#r-79 {transform: rotate(79deg)}
#r-80 {transform: rotate(80deg)}
#r-81 {transform: rotate(81deg)}
#r-82 {transform: rotate(82deg)}
#r-83 {transform: rotate(83deg)}
#r-84 {transform: rotate(84deg)}
#r-85 {transform: rotate(85deg)}
#r-86 {transform: rotate(86deg)}
#r-87 {transform: rotate(87deg)}
#r-88 {transform: rotate(88deg)}
#r-89 {transform: rotate(89deg)}
#r-90 {transform: rotate(90deg)}
#r-91 {transform: rotate(91deg)}
#r-92 {transform: rotate(92deg)}
#r-93 {transform: rotate(93deg)}
#r-94 {transform: rotate(94deg)}
#r-95 {transform: rotate(95deg)}
#r-96 {transform: rotate(96deg)}
#r-97 {transform: rotate(97deg)}
#r-98 {transform: rotate(98deg)}
#r-99 {transform: rotate(99deg)}
#r-100 {transform: rotate(100deg)}
#r-101 {transform: rotate(101deg)}
#r-102 {transform: rotate(102deg)}
#r-103 {transform: rotate(103deg)}
#r-104 {transform: rotate(104deg)}
#r-105 {transform: rotate(105deg)}
#r-106 {transform: rotate(106deg)}
#r-107 {transform: rotate(107deg)}
#r-108 {transform: rotate(108deg)}
#r-109 {transform: rotate(109deg)}
#r-110 {transform: rotate(110deg)}
#r-111 {transform: rotate(111deg)}
#r-112 {transform: rotate(112deg)}
#r-113 {transform: rotate(113deg)}
#r-114 {transform: rotate(114deg)}
#r-115 {transform: rotate(115deg)}
#r-116 {transform: rotate(116deg)}
#r-117 {transform: rotate(117deg)}
#r-118 {transform: rotate(118deg)}
#r-119 {transform: rotate(119deg)}
#r-120 {transform: rotate(120deg)}
#r-121 {transform: rotate(121deg)}
#r-122 {transform: rotate(122deg)}
#r-123 {transform: rotate(123deg)}
#r-124 {transform: rotate(124deg)}
#r-125 {transform: rotate(125deg)}
#r-126 {transform: rotate(126deg)}
#r-127 {transform: rotate(127deg)}
#r-128 {transform: rotate(128deg)}
#r-129 {transform: rotate(129deg)}
#r-130 {transform: rotate(130deg)}
#r-131 {transform: rotate(131deg)}
#r-132 {transform: rotate(132deg)}
#r-133 {transform: rotate(133deg)}
#r-134 {transform: rotate(134deg)}
#r-135 {transform: rotate(135deg)}
#r-136 {transform: rotate(136deg)}
#r-137 {transform: rotate(137deg)}
#r-138 {transform: rotate(138deg)}
#r-139 {transform: rotate(139deg)}
#r-140 {transform: rotate(140deg)}
#r-141 {transform: rotate(141deg)}
#r-142 {transform: rotate(142deg)}
#r-143 {transform: rotate(143deg)}
#r-144 {transform: rotate(144deg)}
#r-145 {transform: rotate(145deg)}
#r-146 {transform: rotate(146deg)}
#r-147 {transform: rotate(147deg)}
#r-148 {transform: rotate(148deg)}
#r-149 {transform: rotate(149deg)}
#r-150 {transform: rotate(150deg)}
#r-151 {transform: rotate(151deg)}
#r-152 {transform: rotate(152deg)}
#r-153 {transform: rotate(153deg)}
#r-154 {transform: rotate(154deg)}
#r-155 {transform: rotate(155deg)}
#r-156 {transform: rotate(156deg)}
#r-157 {transform: rotate(157deg)}
#r-158 {transform: rotate(158deg)}
#r-159 {transform: rotate(159deg)}
#r-160 {transform: rotate(160deg)}
#r-161 {transform: rotate(161deg)}
#r-162 {transform: rotate(162deg)}
#r-163 {transform: rotate(163deg)}
#r-164 {transform: rotate(164deg)}
#r-165 {transform: rotate(165deg)}
#r-166 {transform: rotate(166deg)}
#r-167 {transform: rotate(167deg)}
#r-168 {transform: rotate(168deg)}
#r-169 {transform: rotate(169deg)}
#r-170 {transform: rotate(170deg)}
#r-171 {transform: rotate(171deg)}
#r-172 {transform: rotate(172deg)}
#r-173 {transform: rotate(173deg)}
#r-174 {transform: rotate(174deg)}
#r-175 {transform: rotate(175deg)}
#r-176 {transform: rotate(176deg)}
#r-177 {transform: rotate(177deg)}
#r-178 {transform: rotate(178deg)}
#r-179 {transform: rotate(179deg)}
#r-180 {transform: rotate(180deg)}
#r-181 {transform: rotate(181deg)}
#r-182 {transform: rotate(182deg)}
#r-183 {transform: rotate(183deg)}
#r-184 {transform: rotate(184deg)}
#r-185 {transform: rotate(185deg)}
#r-186 {transform: rotate(186deg)}
#r-187 {transform: rotate(187deg)}
#r-188 {transform: rotate(188deg)}
#r-189 {transform: rotate(189deg)}
#r-190 {transform: rotate(190deg)}
#r-191 {transform: rotate(191deg)}
#r-192 {transform: rotate(192deg)}
#r-193 {transform: rotate(193deg)}
#r-194 {transform: rotate(194deg)}
#r-195 {transform: rotate(195deg)}
#r-196 {transform: rotate(196deg)}
#r-197 {transform: rotate(197deg)}
#r-198 {transform: rotate(198deg)}
#r-199 {transform: rotate(199deg)}
#r-200 {transform: rotate(200deg)}
#r-201 {transform: rotate(201deg)}
#r-202 {transform: rotate(202deg)}
#r-203 {transform: rotate(203deg)}
#r-204 {transform: rotate(204deg)}
#r-205 {transform: rotate(205deg)}
#r-206 {transform: rotate(206deg)}
#r-207 {transform: rotate(207deg)}
#r-208 {transform: rotate(208deg)}
#r-209 {transform: rotate(209deg)}
#r-210 {transform: rotate(210deg)}
#r-211 {transform: rotate(211deg)}
#r-212 {transform: rotate(212deg)}
#r-213 {transform: rotate(213deg)}
#r-214 {transform: rotate(214deg)}
#r-215 {transform: rotate(215deg)}
#r-216 {transform: rotate(216deg)}
#r-217 {transform: rotate(217deg)}
#r-218 {transform: rotate(218deg)}
#r-219 {transform: rotate(219deg)}
#r-220 {transform: rotate(220deg)}
#r-221 {transform: rotate(221deg)}
#r-222 {transform: rotate(222deg)}
#r-223 {transform: rotate(223deg)}
#r-224 {transform: rotate(224deg)}
#r-225 {transform: rotate(225deg)}
#r-226 {transform: rotate(226deg)}
#r-227 {transform: rotate(227deg)}
#r-228 {transform: rotate(228deg)}
#r-229 {transform: rotate(229deg)}
#r-230 {transform: rotate(230deg)}
#r-231 {transform: rotate(231deg)}
#r-232 {transform: rotate(232deg)}
#r-233 {transform: rotate(233deg)}
#r-234 {transform: rotate(234deg)}
#r-235 {transform: rotate(235deg)}
#r-236 {transform: rotate(236deg)}
#r-237 {transform: rotate(237deg)}
#r-238 {transform: rotate(238deg)}
#r-239 {transform: rotate(239deg)}
#r-240 {transform: rotate(240deg)}
#r-241 {transform: rotate(241deg)}
#r-242 {transform: rotate(242deg)}
#r-243 {transform: rotate(243deg)}
#r-244 {transform: rotate(244deg)}
#r-245 {transform: rotate(245deg)}
#r-246 {transform: rotate(246deg)}
#r-247 {transform: rotate(247deg)}
#r-248 {transform: rotate(248deg)}
#r-249 {transform: rotate(249deg)}
#r-250 {transform: rotate(250deg)}
#r-251 {transform: rotate(251deg)}
#r-252 {transform: rotate(252deg)}
#r-253 {transform: rotate(253deg)}
#r-254 {transform: rotate(254deg)}
#r-255 {transform: rotate(255deg)}
#r-256 {transform: rotate(256deg)}
#r-257 {transform: rotate(257deg)}
#r-258 {transform: rotate(258deg)}
#r-259 {transform: rotate(259deg)}
#r-260 {transform: rotate(260deg)}
#r-261 {transform: rotate(261deg)}
#r-262 {transform: rotate(262deg)}
#r-263 {transform: rotate(263deg)}
#r-264 {transform: rotate(264deg)}
#r-265 {transform: rotate(265deg)}
#r-266 {transform: rotate(266deg)}
#r-267 {transform: rotate(267deg)}
#r-268 {transform: rotate(268deg)}
#r-269 {transform: rotate(269deg)}
#r-270 {transform: rotate(270deg)}
#r-271 {transform: rotate(271deg)}
#r-272 {transform: rotate(272deg)}
#r-273 {transform: rotate(273deg)}
#r-274 {transform: rotate(274deg)}
#r-275 {transform: rotate(275deg)}
#r-276 {transform: rotate(276deg)}
#r-277 {transform: rotate(277deg)}
#r-278 {transform: rotate(278deg)}
#r-279 {transform: rotate(279deg)}
#r-280 {transform: rotate(280deg)}
#r-281 {transform: rotate(281deg)}
#r-282 {transform: rotate(282deg)}
#r-283 {transform: rotate(283deg)}
#r-284 {transform: rotate(284deg)}
#r-285 {transform: rotate(285deg)}
#r-286 {transform: rotate(286deg)}
#r-287 {transform: rotate(287deg)}
#r-288 {transform: rotate(288deg)}
#r-289 {transform: rotate(289deg)}
#r-290 {transform: rotate(290deg)}
#r-291 {transform: rotate(291deg)}
#r-292 {transform: rotate(292deg)}
#r-293 {transform: rotate(293deg)}
#r-294 {transform: rotate(294deg)}
#r-295 {transform: rotate(295deg)}
#r-296 {transform: rotate(296deg)}
#r-297 {transform: rotate(297deg)}
#r-298 {transform: rotate(298deg)}
#r-299 {transform: rotate(299deg)}
#r-300 {transform: rotate(300deg)}
#r-301 {transform: rotate(301deg)}
#r-302 {transform: rotate(302deg)}
#r-303 {transform: rotate(303deg)}
#r-304 {transform: rotate(304deg)}
#r-305 {transform: rotate(305deg)}
#r-306 {transform: rotate(306deg)}
#r-307 {transform: rotate(307deg)}
#r-308 {transform: rotate(308deg)}
#r-309 {transform: rotate(309deg)}
#r-310 {transform: rotate(310deg)}
#r-311 {transform: rotate(311deg)}
#r-312 {transform: rotate(312deg)}
#r-313 {transform: rotate(313deg)}
#r-314 {transform: rotate(314deg)}
#r-315 {transform: rotate(315deg)}
#r-316 {transform: rotate(316deg)}
#r-317 {transform: rotate(317deg)}
#r-318 {transform: rotate(318deg)}
#r-319 {transform: rotate(319deg)}
#r-320 {transform: rotate(320deg)}
#r-321 {transform: rotate(321deg)}
#r-322 {transform: rotate(322deg)}
#r-323 {transform: rotate(323deg)}
#r-324 {transform: rotate(324deg)}
#r-325 {transform: rotate(325deg)}
#r-326 {transform: rotate(326deg)}
#r-327 {transform: rotate(327deg)}
#r-328 {transform: rotate(328deg)}
#r-329 {transform: rotate(329deg)}
#r-330 {transform: rotate(330deg)}
#r-331 {transform: rotate(331deg)}
#r-332 {transform: rotate(332deg)}
#r-333 {transform: rotate(333deg)}
#r-334 {transform: rotate(334deg)}
#r-335 {transform: rotate(335deg)}
#r-336 {transform: rotate(336deg)}
#r-337 {transform: rotate(337deg)}
#r-338 {transform: rotate(338deg)}
#r-339 {transform: rotate(339deg)}
#r-340 {transform: rotate(340deg)}
#r-341 {transform: rotate(341deg)}
#r-342 {transform: rotate(342deg)}
#r-343 {transform: rotate(343deg)}
#r-344 {transform: rotate(344deg)}
#r-345 {transform: rotate(345deg)}
#r-346 {transform: rotate(346deg)}
#r-347 {transform: rotate(347deg)}
#r-348 {transform: rotate(348deg)}
#r-349 {transform: rotate(349deg)}
#r-350 {transform: rotate(350deg)}
#r-351 {transform: rotate(351deg)}
#r-352 {transform: rotate(352deg)}
#r-353 {transform: rotate(353deg)}
#r-354 {transform: rotate(354deg)}
#r-355 {transform: rotate(355deg)}
#r-356 {transform: rotate(356deg)}
#r-357 {transform: rotate(357deg)}
#r-358 {transform: rotate(358deg)}
#r-359 {transform: rotate(359deg)}
