.wrapper {
  display: flex;
}
.wrapper > div {
  font-size: 4vh;
  color: white;
  background: hotpink;
  margin: .1em;
  padding: .3em;
  border-radius: 3px;
  flex: 1;
}
.wrapper .wrapper > div {
  background: pink;
  color: hotpink;
  }
