#container {
    display: flex;
    width: 100%;
    border: 1px solid blue;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: row;
    width: 20%;
    border: 1px solid red;
}
