@import url("../styles/a5.css");

div {
    width: 3cm;
    height: 3cm;
    border: 1px solid blue;
    margin-right: 1em;
    margin-bottom: 1em;
}

#gradient1 {
    background: radial-gradient(circle closest-corner at 60% 55%, red, green 20%, yellow 70%, black);
}

#gradient2 {
    background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%);
}

#gradient3 {
    background: linear-gradient(to right, black, white);
}

#gradient4 {
    background: linear-gradient(225deg, red, green 20%, yellow 70%, black);
}

#gradient5 {
    background: repeating-radial-gradient(#000000, #ffffff 10px, #000000 20px);
}
