@page {
    size: A4;
    margin-top: 80mm;
    margin-bottom: 25mm;

    @top-left {
        content: element(head-left);
        width: 35%;
        vertical-align: top;
        padding-top: 10mm;
    }

    @top-right {
        content: element(head-right);
        width: 25%;
        text-align: right;
        right: 0;
        vertical-align: top;
        padding-top: 10mm;
    }

    @top-center {
        content: element(head-center);
        margin-top: 30mm;
        width: 100%;
    }

    @bottom-left{
        content: element(bottom-left);
        vertical-align: top;
        padding-top: 2.5mm;
        border-top: 3px solid blue;
    }

    @bottom-center {
        content: element(bottom-center);
        vertical-align: top;
        padding-top: 2.5mm;
        border-top: 3px solid blue;
    }

    @bottom-right {
        content: element(bottom-right);
        vertical-align: top;
        padding-top: 2.5mm;
        border-top: 3px solid blue;
    }
}

body {
    font-family: Sans-Serif;
}

#head-left {
    position: running(head-left);
}

#head-right {
    position: running(head-right);
}

#head-right img {
    width: 20mm;
    height: auto;
    text-align: right;
    border: 3px solid red;
    display: block;
    float: right;
}

#delivery {
    position: running(head-center);
    width: 100%;
    border-bottom: 3px solid red;
}

#delivery1,
#delivery2,
#delivery3 {
    display: inline-block;
    width: 32%;
}

#delivery2 {
    font-size: 8pt;
}


#delivery3 {
    font-size: 8pt;
}



#footer-left {
    position: running(bottom-left);
}

#footer-center {
    position: running(bottom-center);
}


#footer-right {
    position: running(bottom-right);
}

#footer-left,
#footer-center,
#footer-right {
    font-size: 6pt;
}

#footer-left {
    width: 50mm;
}
#footer-center {
    width: 71mm;
}

#footer-right {
    width: 70mm;
}


#customer-address {
    float: left;
}

#address2 {
    width: 50%;
    float: right;
}

#address2 .key {
    display: inline-block;
}

#address2 .value {
}

