
@import url("../styles/a4.css");

/* ! Grid styling */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}

/* ! gallery styling */
.gallery {
  border: 5px solid white;
  width: 650px;
  height: 400px;
  padding: 1rem;
}
.gallery-item {
  border: 3px solid white;
  padding: 1ch 1rem;
  position: relative;
  overflow: hidden;
}
.gallery-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-item span {
  position: relative;
  z-index: 1;
}








/* ! Background styling */
:root {
  --bg-color: #3057e1;
  --text-color: #fefefe;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.18;
  background-size: 50px 50px;
  background-image: linear-gradient(
      transparent 0%,
      transparent 98%,
      var(--text-color) 98%,
      var(--text-color) 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 98%,
      var(--text-color) 98%,
      var(--text-color) 100%
    );
}

