@import url("../styles/a4-landscape.css");

div.multicol {
    margin-bottom: 2em;
    text-align: justify;
    hyphens: auto;
    page-break-after: always;
    border: 1px dashed red;
}


h1 {
    column-span: all;
}


.cols-3 {
    column-count: 3;
    column-gap: 1cm;
    column-rule: 4px solid #ff00ff;
}

.fill-auto {
    column-fill: auto;
}

.fill-balanced {
    column-fill: balance;

}

@page {
}

@page {
    @footnote {
        border-top: dashed red 1px;
        margin-top: 1em;
        float: bottom;
        -ah-float: after column auto-move;
    }
}

span.footnote { 
    float: footnote; 
    counter-increment: footnote;
    -ah-float: footnote;
}

.footnote::footnote-call {
    content: counter(footnote, decimal) " ";
    color: green;
}

.footnote::footnote-marker {
    content: counter(footnote, lower-roman);
    font-size: 14px;
    color: blue;
}
