img.preview {
    border: 1px solid #666;
    width: 75px;
    vertical-align: top;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.converter-name {
    font-size: 1.2em;
    font-weight: bold;
}

.converter-status {
    font-weight: bold;
}

.pdf-download {
    
}

img.banner {
    margin-bottom: 2em;
}

div.readme 
{
    max-width: 200px;
    font-size: 0.8em;
    color: #aaa;
    white-space: normal;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

caption {
    text-align: left !important;
    font-weight: bold !important;
    font-size: 1.4em !important;
    font-style: normal !important;
}


#projects-table,
#about-table {
    margin-bottom: 2em;
}

#projects-table th,
#about-table th {
    text-align: left;
    padding-right: 1em;
}

#projects-table li,
#about-table li {
    margin-left: 1.0em;
}

.lesson-title {
    white-space: pre-wrap;
}
