@import url("../styles/a4.css");

@page {
    border: 1px solid blue;
    font-size: 8pt;

    @top-left-corner {
        content: "@top-left-corner";
        border: 1px solid red;
    }
    @top-left {
        content: "@top-left";
        border: 1px solid red;
    }
    @top-center {
        content: "@top-center";
        border: 1px solid red;
    }
    @top-right {
        content: "@top-right";
        border: 1px solid red;
    }
    @top-right-corner {
        content: "@top-rightcorner";
        border: 1px solid red;
    }

    @bottom-left-corner {
        content: "@bottom-left-corner";
        border: 1px solid red;
    }
    @bottom-left {
        content: "@bottom-left";
        border: 1px solid red;
    }
    @bottom-center {
        content: "@bottom-center";
        border: 1px solid red;
    }
    @bottom-right {
        content: "@bottom-right";
        border: 1px solid red;
    }
    @bottom-right-corner {
        content: "@bottom-rightcorner";
        border: 1px solid red;
    }

    @left-top {
        content: "@left-top";
        border: 1px solid red;
    }
    @left-middle {
        content: "@left-middle";
        border: 1px solid red;
    }
    @left-bottom {
        content: "@left-bottom";
        border: 1px solid red;
    }

    @right-top {
        content: "@right-top";
        border: 1px solid red;
    }
    @right-middle {
        content: "@right-middle";
        border: 1px solid red;
    }
    @right-bottom {
        content: "@right-bottom";
        border: 1px solid red;
    }



}
