@import url("../styles/a4-landscape.css");

div.multicol {
    margin-bottom: 2em;
    text-align: justify;
    hyphens: auto;
    page-break-after: always;
    font-size: 11pt;
}


h1 {
    column-span: all;
}

.cols-4 {
    column-count: 4;
    -webkit-column-count: 4;
    column-gap: 1cm;
    column-rule: 4px solid #ff00ff;
}

.cols-3 {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 1cm;
    column-rule: 4px solid #ff00ff;
}

.cols-2 {
    column-count: 2;
    -webkit-column-count: 2;
    column-gap: 1cm;
    column-rule: 4px solid #ff00ff;
}
