@import url("../styles/a4.css");

div.multicol {
    margin-bottom: 2em;
    text-align: justify;
    hyphens: auto;
    page-break-after: always;
    font-size: 11pt;
    column-count: 2;
}


h1 {
    column-span: all;
}


#globe {
    width: 100%;
    float: column-top next;
}
